@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@include xyz-all;
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
  /* background-color: #00030e; */
  font-family: "Poppins", sans-serif;
}

body::-webkit-scrollbar {
  display: none;
}

.hero-text-animation {
  animation: 1.25s herotextanimate 0.25s;
}
.hero-animation {
  animation: 2s heroAnimate;
  bottom: 0;
  top: 0;
}
@keyframes herotextanimate {
  0% {
    letter-spacing: 0.05em;
  }
  50% {
    letter-spacing: 20px;
  }
  100% {
    letter-spacing: 0.05em;
  }
}
@keyframes heroAnimate {
  0% {
    bottom: 0;
    top: 100%;
  }

  50% {
    bottom: -100%;
    top: 0%;
  }

  to {
    bottom: 0;
    top: 0;
  }
}

@keyframes smoothBounceBack {
  0% {
    transform: perspective(1000px) rotateX(0deg) rotateY(0deg) scale(1);
  }
  50% {
    transform: perspective(1000px) rotateX(0deg) rotateY(0deg) scale(1.01);
  }
  75% {
    transform: perspective(1000px) rotateX(0deg) rotateY(0deg) scale(0.99);
  }
  100% {
    transform: perspective(1000px) rotateX(0deg) rotateY(0deg) scale(1);
  }
}

.bounce-back {
  animation: smoothBounceBack 0.4s linear forwards;
}

.trackingActive {
  letter-spacing: 20px;
  margin-top: 10px;
}

.section {
  margin-top: 120px;
}

.projectbtns {
  background: linear-gradient(135deg, #010b2e 45%, #000630 10%, #010b30 45%);
}

.heading {
  font-size: 72px;
  line-height: 1;
}
@media screen and ((max-width: 925px) and (min-width: 768px)) {
  .heading {
    font-size: 55px;
    line-height: 1;
    margin-top: 8px;
  }
}

@media screen and ((max-width: 767px)) {
  .heading {
    font-size: 45px;
    line-height: 1;
    margin-top: -23px;
  }
}

@media screen and ((max-width: 590px)) {
  .heading {
    font-size: 40px;
  }
}

@media screen and ((max-width: 540px)) {
  .heading {
    font-size: 35px;
    margin-top: -20px;
  }
}

@media screen and ((max-width: 445px)) {
  .heading {
    font-size: 28px;
    margin-top: -15px;
  }
}
